.main-container{
    background: #D8F4EC;
    padding: 70px;
    display: flex;
    flex-direction: row;
}
.first-container{ 
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
}
.second-container{
    width: 607px;
    height: 564px;
    border-radius: 15px;
    padding: 20px;
}

.img-data{
width: 54.69px;
height: 53.77px;
margin: 13px;

}
.user-img{
    width: 662.48px;
    height: 716px;
}
.first-container-test{
    color: #208C84;
}
.img-button{
    position: relative;
    margin: 100px;
    margin-inline: unset;
}
 
.test-sub{
    font-size: 48px;  
  font-family: "Poppins";

}
.para_for_multipele_layers{
    font-size: 48px;  
    font-family: "Poppins";  
}
.hover-zoom:hover {
    transform: scale(1.10);
  }

 

  .user-data {
    background: #f4f4f4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 12px 22px;
  }
  .user-data.no-accordian {
    background: #e8f8f2;
  }
  span {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #191919;
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #191919;
    margin: 0;
  }
  .meta-data {
    margin-left: 10px;
  }
  .user-avatar {
    width: 54px;
    height: 54px;
  }