.hero_section_first {
    margin-top: 80px;
    /* height: 658px; */
}

#mainContentRight1{
height: 500px;
margin-left: 12px;
background: #C6EEE2;
}
#mainContentRight2{
    height: 500px;
margin-top: 180px;
background: #C2DDE4;
margin-left: 12px;
}
#mainContentRight3{
    height: 500px;
    margin-left: 12px;
background: #EDEEC6;
}
.card1-number{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 96px;
    color: #093F38;
    text-align: end;
}
.card2-number{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 96px;
    color: #156075;
    text-align: end;
}
.card3-number{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 96px;
    color: #3F3309;
    text-align: end;
    
}
.frame{
    height: 100px;
    width: 100px;
    margin: 22px;

}
.frame-1{
    height: 100px;
    width: 100px;
    margin: 28px;

}
.frame-2{
    height: 100px;
    width: 100px;
    margin: 28px;

}
h2{
    
    text-align: center;

}

.btn1 {
    height: 30px;
    width: 90px;
    background: #98D9C4;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 167.5%;
color: #093F38;

}

.btn2 {
    height: 30px;
    width: 90px;
    background: #85BACA;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 167.5%;
/* or 30px */


color: #156075;
}

.btn3 {
    background: #CFD09D;
    height: 30px;
    width: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.5%;
    color: #3F3309;
}

.content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    color: #093F38;
}
.content1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    color: #156075;
}
.content2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    color: #3F3309;
    
}

.text {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 167.5%;
text-align: center;
letter-spacing: 0.06em;
color: #3DC9A1;
margin-top: 20px;
}

.text1 { 
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 138%;
/* or 66px */

text-align: center;

color: #191919;
}
.text2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 138%;

text-align: center;

color: #191919;
}
.text3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 138%;
    text-align: center;
    color: #093F38;
}
/* .process {
    position: absolute;
width: 106px;
height: 37px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 167.5%;
margin-left: 20px;
margin-top: 1px;
text-align: center;
letter-spacing: 0.06em;
color: #3DC9A1;
} */